<style>
  h1 {
    color: black;
  }

  .content {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    position: relative;
  }

  input {
    width: 80%;
    height: 25px;
    margin: 10px;
    ]
  }

  textarea {
    width: 80%;
    height: 70px;
  }

  #selectme {
    border: 1px solid black;
    padding-bottom: 10px;
    text-align: left;
    word-wrap: break-word;
    padding: 5%;
  }
</style>
